 .h1,
 h1 {
   text-align: center;
   font-size: 4rem !important;
   font-family: 'Licorice', cursive;
 }

 header {
   padding: 50px;
   text-align: center;
   background: #1abc9c;
   color: white;
 }

 nav {
   font-family: 'Licorice', cursive;
 }

 #nav-bar-side {
   display: flex;
   margin-right: 0 !important;
 }

 #basic-navbar-nav {
   justify-content: flex-end;
 }

 .navbar-nav {
   align-items: flex-end;
 }

 .dropdown-menu[data-bs-popper] {
   left: -133px !important;
 }

 .dropdown-item {
   display: flex !important;
   justify-content: flex-end;
 }

 .dropdown-toggle {
   display: flex !important;
   justify-content: flex-end;
 }

 #dropBox {
   margin: 0 0 0 -80px;

   right: 20px;
 }

 .input-group {
   margin-top: 20px;
   margin-left: 190px;
   width: 50% !important;

 }

 .form-control {
   width: 50% !important;
   margin-left: 190px;
 }

 .form-label {
   width: 50% !important;
   margin-left: 190px;
 }

 .card-body {
   font-size: large;
   font-weight: 500;
   text-align: center;
 }

 .loginHeader,
 .signupHeader {
   text-align: center;
   font-family: 'Licorice', cursive;

 }

 .loginForm,
 .signupForm {
   display: flex;
   flex-direction: column;
   align-items: center;
 }

 .loginInput,
 .signupInput {
   margin: 10px;
   border-radius: 3px;
 }

 #logout-button {
   border: none;
   background: none;
 }